.footer-options {
  @include clearfix();

  height: 50px;
  background: #eeeeee;

  &__completed {
    float: left;
  }

  &__notifications {
    float: right;
  }

  button {
    height: 50px;
    width: 50px;
  }
}