.footer-options {
  @include clearfix();

  height: 50px;
  background: #eeeeee;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  &__completed {
    float: left;
  }

  &__notifications {
    float: right;
  }

  button {
    height: 50px;
    width: 50px;
  }
}