.main-content {
  position: relative;
  height: calc(100vh - 100px);
  margin: 60px 15px;
  z-index: -1;

  .event-card {
    background: #e5e5e5;
    position: relative;
    height: 150px;

    $padding-card: 10px;

    &__title {
      top: $padding-card;
      left: $padding-card;
      position: absolute;
    }

    &__date {
      top: $padding-card;
      right: $padding-card;
      position: absolute;
    }

    &__share {
      bottom: $padding-card;
      right: $padding-card;
      position: absolute;
    }
  }

  .float-btn {
    position: fixed;
    bottom: 60px;
    right: 15px;
  }
}