{% assign is_first_index = false %}

{% if include.index == 1 %}
    {% assign is_first_index = true %}
{% endif %}

<div class="post {% if is_first_index %}post-full{% endif %}">

    <header class="post__image">
        <img src="{{ include.post.image | prepend: site.assets.images }}" alt=""/>
    </header>

    <article class="">

        <div class="post__category">
            {{ include.post.category }}
        </div>

        <h1 class="post__title">{{ include.post.title }}</h1>

        <div class="post__text">
            {% if is_first_index %}
                {{ include.post.text }}

            {% else %}

                {{ include.post.text | truncate: 200 }}
            {% endif %}
        </div>

        {% if is_first_index %}
        <div class="post__comment">
            <a>Leave a comment</a>
        </div>
        {% endif %}
    </article>
</div>