<div class="repo-info">
    <div>
        <a class="repo-info__name"></a>
    </div>

    <p class="repo-info__description"></p>

    <div>
        <ul class="list-inline">
            <li class="repo-info__language">
                <i class="ion-code-working"></i>&nbsp;<span class="value"></span>
            </li>
            <li class="repo-info__stars">
                <i class="ion-ios-star"></i>&nbsp;<span class="value"></span>
            </li>
            <li class="repo-info__forks">
                <i class="ion-fork-repo"></i>&nbsp;<span class="value"></span>
            </li>
        </ul>
    </div>
</div>