/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Roboto', sans-serif; }

.user-github-search {
  padding: 15px;
  background-color: #cccccc; }
  .user-github-search__title {
    text-align: center; }

.search-not-found {
  display: none; }

.user-github-details {
  padding: 15px; }
  .user-github-details__personal {
    border: 1pt solid #cccccc;
    box-shadow: 2px 3px 5px 0 rgba(199, 199, 199, 0.75);
    box-sizing: border-box;
    padding: 15px 15px; }
    .user-github-details__personal:after {
      content: '';
      display: table;
      clear: both; }
    .user-github-details__personal .image {
      float: left;
      background: url("https://avatars.githubusercontent.com/u/8635147?v=3") center no-repeat;
      background-size: cover;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      box-shadow: 2px 3px 5px 0 rgba(199, 199, 199, 0.75); }
    .user-github-details__personal .info {
      float: left;
      padding: 20px 30px; }
      .user-github-details__personal .info li {
        margin: 5px 0; }
      .user-github-details__personal .info__name {
        font-size: 30px;
        font-weight: 600; }
  .user-github-details__repo {
    padding: 15px 0; }
    .user-github-details__repo:after {
      content: '';
      display: table;
      clear: both; }
    .user-github-details__repo .box-repo-detail {
      border: 1pt solid #cccccc;
      box-shadow: 2px 3px 5px 0 rgba(199, 199, 199, 0.75);
      box-sizing: border-box;
      padding: 15px 15px;
      float: left;
      width: 33.33333%;
      text-align: center;
      margin: 0 7.5px;
      box-sizing: border-box; }
      .user-github-details__repo .box-repo-detail:first-child {
        margin-left: 0; }
      .user-github-details__repo .box-repo-detail:last-child {
        margin-right: 0; }
    .user-github-details__repo .value {
      font-size: 20px;
      font-weight: 600;
      display: block; }
  .user-github-details__bio {
    border: 1pt solid #cccccc;
    box-shadow: 2px 3px 5px 0 rgba(199, 199, 199, 0.75);
    box-sizing: border-box;
    padding: 15px 15px; }
    .user-github-details__bio label {
      margin-bottom: 10px;
      font-weight: 500; }
    .user-github-details__bio p {
      text-indent: 2em; }

/*# sourceMappingURL=styles.css.map */
