.slider {
    display: inline-block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.slider + label {
    position: relative;
    display: inline-block;
    padding-left: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: calc(2em + 4px);
    height: calc(1em + 4px);
    border-radius: calc(0.5em + 2px);
    background-color: #b33;

    transition: background-color 250ms;
}

.slider + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background-color: #fff;
    transform: translateX(0);

    -webkit-transition: transform 250ms;
    -moz-transition: transform 250ms;
    -ms-transition: transform 250ms;
    -o-transition: transform 250ms;
    transition: transform 250ms;
}

.slider:checked + label:before {
    background-color: #3b6;
}

.slider:checked + label:after {
    transform: translateX(100%);
}