<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<header class="header-page">
    <div class="header-page__title-content">
        <div class="header-title"></div>
        <span class="header-subtitle">A landing page for your app with focus</span>
    </div>
</header>

<section class="main">
    <div class="container clearfix">
        <div class="content-details-box">
            <span class="details-title">Great Feature</span>

            <p class="details-text">Ornare iaculis dis nibh cras parturient a praesent condimentum vestibulum
                feugiat ad sem egestas nibh ad sit condimentum mi a himenaeos consectetur a nostra velit.</p>
        </div>
        <div class="content-details-box">
            <span class="details-title">Great Feature</span>

            <p class="details-text">Integer mi at parturient ipsum parturient sit ridiculus condimentum ut class a
                hac id integer dignissim id scelerisque natoque curabitur morbi a non habitasse aliquet elementum
                pretium.</p>
        </div>
        <div class="content-details-box">
            <span class="details-title">Another Great Feature</span>

            <p class="details-text">Adipiscing sit adipiscing imperdiet nascetur vel in ac vestibulum eget
                vestibulum orci a luctus aliquet himenaeos consectetur taciti ullamcorper congue tellus faucibus
                volutpat urna vestibulum nascetur netus.</p>
        </div>
        <div class="content-details-box">
            <span class="details-title">Another Great Feature</span>

            <p class="details-text">Eros a est adipiscing mi proin at netus donec arcu integer eget hac parturient
                pretium mollis placerat.</p>
        </div>
    </div>
    <div class="content-smartphone">
    </div>
</section>

<footer class="footer-page">
    <div class="container clearfix">
        <div class="footer-info__content">
            <span class="details-title">Get The App Today</span>

            <p class="details-text">Inceptos adipiscing condimentum sociosqu a a ullamcorper primis facilisi curabitur
                potenti
                hendrerit enim aliquam ultrices a sem adipiscing lorem habitant vestibulum condimentum consequat
                sagittis.
            </p>

            <ul class="platform-list">
                <li>
                    <img src="images/icon-apple.png" alt="Apple"/>
                </li>
                <li>
                    <img src="images/icon-android.png" alt="Android"/>
                </li>
                <li>
                    <img src="images/icon-windows.png" alt="Windows"/>
                </li>
            </ul>
        </div>
        <div class="footer-info__video">
            <iframe src="https://www.youtube.com/embed/tMuU6fViaS8" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</footer>

</body>
</html>
