.post {
  flex: 1 1 auto;
  width: calc(50% - 100px);
  margin: 50px;

  &:nth-child(-n+7) {
    order: 1;
  }

  &:nth-child(n+7) {
    order: 3;
  }

  &__image {
    margin-bottom: 20px;

    img {
      display: block;
      width: 320px;
      margin: 0 auto;
    }
  }

  &__category {
    @include category-font();

    margin-bottom: 20px;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__text {
  }

  &__comment {
    @include category-font();

    margin-top: 20px;

    a {
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.post-full {
  flex: 1 1 auto;
  width: calc(100% - 20px);

  .post__image {
    img {
      width: 100%;
    }
  }
}